<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>老子的网页牛不牛！</title>
</head>
<body>
    <h1>我是网页,牛逼！老铁666</h1>  <!框内为注释heading>
    <p>魏延向诸葛亮贡献子午谷奇谋，诸葛坚决不给兵。魏延心有不甘，遂决定带自己家的亲兵、厨子、裁缝、奶妈、园丁自己去打。没等出发呢，诸葛就扑过来抱住他的大腿，死活不放。魏延怒了：“丞相，我都不用你的兵了你咋还不准，你有病吧？”诸葛微微点头：“嗯。”，然后双颊绯红地说：“拖……延……症。”
    </p>
    <p>用户名: {{context['name']}}</p>  <!双花括号内接收后台传回的参数,变量>
    <p>年龄: {{context['age']}}</p>
    <p>简介: {{context['profile']}}</p>
    <p>时间: {{date}}</p>
</body>
</html>




