<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>老符公的主页</title>
</head>

<body>
    <h1>我是网页,牛逼！老铁666</h1> <!框内为注释heading>
    <h5><a href='/'>主页</a></h5>
    {% include 'navigation.html' %}
        <p>魏延向诸葛亮贡献子午谷奇谋，诸葛坚决不给兵。魏延心有不甘，遂决定带自己家的亲兵、厨子、裁缝、奶妈、园丁自己去打。<br>
            没等出发呢，诸葛就扑过来抱住他的大腿，死活不放。<br>
            魏延怒了：“丞相，我都不用你的兵了你咋还不准，你有病吧？”诸葛微微点头：“嗯。”，然后双颊绯红地说：“拖……延……症。”<br>
        </p>
        <p>用户名: {{context['name']}}<br>  <!双花括号内接收后台传回的参数,变量>
                年龄: {{context['age']}}<br>    <!这也是注释>
                    简介: {{context['profile']}}<br>    <!paragrap(p)h段落,broken row(br)换行>
                        时间: {{date}}<br>
                        列表: {{list1}}<br>
                        列表获取元素: {{list1[2]}}<br>
                        过滤器(过滤前): {{list3}}<br>
                        过滤器(过滤后): {{list3 | upper}}<br>
                        过滤器(过滤后): {{str1 | reverse}}<br>
        </p>
        <p>
           {% for num1 in list1 %}
           {{num1}} 
           {% endfor %}<br>
           {% for num2 in list2 %}
           {% if num2 > 5 %}
           {{num2}} 
           {% endif %}
           {% endfor %}
        </p>
</body>

</html>