<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>老子是登录页面，知道吗</title>
</head>

<body>
    <a href="https://bilibili.com">B站</a>
    <p>hypertext reference 超文本链接(reference:查询，查阅)</p>
    <p>href='#',链接到当前页面</p>
    <p>paragraph:段落。</p>
    {% if user %}
        <a href='#'>{{user['username']}}</a>
        <a href='#'>注销</a>
    {% else  %}
        <a href='#'>登录</a>
        <a href='#'>注册</a>
    {% endif %}
    <hr>horizental rule水平分割线
    <form method="POST">
        <label>用户名：</label><input type="text" name='username'><br>
        <label>密码：</label><input type = "password" name='password1'><br>
        <label>再次输入密码：</label><input type = "password" name='password2'><br>
        <input type='submit' value='确认'>

    </form>
    
</body>

</html>