<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>navigation</title>
</head>
<body>
    <h3><a href='/extends'>导航(Navigation)</a></h3>
    <h3><a href='/'>主页</a></h3>
    <h3><a href='/login'>登录页面</a></h3>
    <h3><a href='/extends'>日志</a></h3>
    <h3><a href='/extends'>技术文档</a></h3>

   <hr> 

    <h3><a href='/extends'>导航(Navigation)</a>
        <a href='/'>主页</a>
        <a href='/login'>登录页面</a>
        <a href='/extends'>日志</a>
        <a href='/extends'>技术文档</a></h3>
</body>
</html>